<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<th:block th:include="layouts/header">header</th:block>
<body>
<th:block th:include="layouts/navigation">navbar</th:block>

<div class="container-sm">

    <div class="row">
        <div class="col text-center">
            <h3 class="mt-5">Приложения сервис уведомлений.</h3>
            <p class="lead">Приложение позволяет создавать и управлять клиентской базой.</p>
            <p class="lead">Приложение позволяет создавать и управлять рассылками. Отслеживание статистики по выполненным рассылкам.</p>
            <p class="lead">Сервис отправки уведомлений на внешнее API.</p>


        </div>
    </div>

</div>

<th:block th:include="layouts/footer">footer</th:block>
</body>
</html>